@model int
@{
    ViewBag.Title = "404 Error";
}

<div class="alert alert-danger mt-1 mb-1">

    <h2>404 Error</h2>
    <h5>Employee with ID = @Model not found  </h5>

</div>
<a asp-action="index" asp-controller="home" class="btn btn-outline-success">
    Click Here to see all the list
</a>

